.container {
    display: inline-flex;
    width: auto;
    margin: auto;
    width: 100vw;
    margin-bottom: 9vh;
    padding-bottom: 20px;
    text-align: center;
}
iframe {
    height: fit-content;
    width: fit-content;
}

.widget-container {
    height: 38vh;
    padding: 4vh 2vh;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
    text-align: center;
    display: inline-flex;
}

.widget {
    margin-left: 1vw;
    margin-right: 2vw;
    min-height: 16vh;
    width: 25vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    border-radius: 5px;
}

#balance-container {
    padding-left: 2%;
    text-align: center;
}

.bank-sum {
    max-height: 4vh;
    padding-bottom: 8px;    
}

#buttons-container {
    margin-bottom: 5vh;
    margin-top: 2px;
}

.store-container {
    display: inline-flex;
    width: 80vw;
    margin: auto;
    margin-left: 8vw;
    padding: auto;
    border: transparent grey 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 14px;
}

.store-items {
    width: 50vw;
    text-align: center;
}

#store-buy {
    text-align: center;
    align-content: center;
    padding-top: 8%;
}

button {
    display: inline-block;
    margin-top: 25%;
    margin-bottom: auto;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 14px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
}

#item-image {
    max-width: 19vw;
    max-height: fit-content;
}
iframe {
    border: none;
}
